h1 {
  margin-bottom: 12px;
  border-bottom: 2px solid var(--tertiary-color);
  border-radius: 6px;
  padding-block: 4px;
  padding: 8px 40px;
  font-size: 3rem;
  text-align: center;
}

/* Empty Cart */
#empty-cart-div {
  margin-top: 48px;
  border-block: 3px dashed var(--darker-tertiary-color);
  background-color: var(--secondary-color);
  padding-block: 24px;
  color: var(--text-color);
  text-align: center;
}

#empty-cart-div .icon {
  display: block;
  margin-bottom: 12px;
  font-size: 4rem;
}

#empty-cart-div .desc {
  font-weight: bold;
  font-size: 2rem;
}

/* Main Cart Content */
#cart-contents-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 40px;
  border: 3px solid var(--darker-tertiary-color);
  border-radius: 4px;
  background-color: var(--darker-tertiary-color);
  max-width: 1600px;
  text-align: center;
}

/* Cart Header + Cart Items Container */
#cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2px;
  border-bottom: 3px solid var(--darker-tertiary-color);
  width: 100%;
  font-weight: bold;
  font-size: 1.75rem;
}
#cart-items-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 1.5rem;
}

/* Cart Column Contents */
#cart-header > * {
  background-color: var(--tertiary-color);
}
#cart-header #cart-mobile-header {
  display: none;
}

.cart-item {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 2px;
  border-bottom: 1px solid var(--darker-tertiary-color);
}
.cart-item > * {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
}

#item-col-header,
.name-col {
  flex: 2;
}
#price-col-header,
.price-col {
  flex: 1;
}
#quantity-col-header,
.quantity-col {
  flex: 0.5;
}

/* Cart Items Columns*/
.name-col {
  justify-content: start;
}
.name-col img {
  margin: 12px;
  margin-right: 24px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.7);
  border-right: 4px solid var(--darker-tertiary-color);
  border-radius: 8px;
  max-width: 280px;
  height: 150px;
  object-fit: cover;
}

.quantity-col {
  gap: 8px;
  font-weight: bold;
}
.quantity-col button {
  width: 24px;
  height: 24px;
  background-color: var(--tertiary-color);
  color: var(--text-color);
  border: 3px solid var(--darker-tertiary-color);
  border-radius: 2px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    opacity: 0.9;
  }
  &:active {
    opacity: 0.8;
  }
}

/* Cart total price */
#cart-total-div {
  display: flex;
  justify-content: center;
  gap: 2px;
  margin: auto;
  border-radius: 4px;
  background-color: var(--darker-tertiary-color);
  padding: 3px;
  width: 600px;
}

#cart-total-div > * {
  background-color: var(--secondary-color);
}
#total-label {
  flex: 1;
  padding: 8px;
  font-weight: bold;
  font-size: 1.75rem;
  text-align: right;
}
#total-amount {
  flex: 1;
  padding: 8px;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  text-wrap: balance;
}
/* Checkout Button */
#checkout-button {
  margin: auto;
  margin-top: 24px;
  display: block;
  padding: 12px 24px;
  font-size: 1.5rem;
  font-weight: bold;

  color: var(--text-color);
  background-color: var(--tertiary-color);
  width: 300px;
  border: 3px solid var(--darker-tertiary-color);
  border-radius: 6px;
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }
  &:active {
    opacity: 0.8;
  }
}

/* Responsive Design */
@media (max-width: 769px) {
  #cart-contents-div {
    margin: 10px;
  }

  #cart-header > * {
    display: none;
  }
  #cart-header #cart-mobile-header {
    display: block;
    flex: 1;
  }

  #cart-items-container {
    gap: 2px;
  }

  .cart-item {
    flex-direction: column;
    gap: 0px;
  }
  .cart-item > * {
    width: 100%;
    padding-block: 12px;
  }
  .cart-item {
    align-items: center;
  }

  .name-col {
    justify-content: center;
    flex-direction: column;
  }
  .name-col img {
    border-right: none;
    border-bottom: 4px solid var(--darker-tertiary-color);
  }

  #cart-total-div {
    flex-direction: column;
    width: 90%;
  }
  #total-label {
    text-align: center;
  }
}
