/* This css file is applied to ALL PAGES */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Variables */
  /* --primary-color: hsl(32, 40%, 55%);
  --secondary-color: hsl(27, 35%, 48%);
  --tertiary-color: hsl(27, 45%, 40%); */

  /* --primary-color: hsl(40, 40%, 55%);
  --secondary-color: hsl(40, 35%, 48%);
  --tertiary-color: hsl(40, 45%, 40%); */

  --primary-color: #ffefd0;
  --secondary-color: #be9361;
  --tertiary-color: #a97449;

  --text-color: #fffdf2;

  /* --primary-color: hsl(50, 60%, 40%);
  --secondary-color: hsl(45, 55%, 35%);
  --tertiary-color: hsl(50, 70%, 40%); */
}

body {
  height: fit-content;
  min-height: 100vh;
  font-size: 1.25rem;
  /* font-family: sans-serif; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Background Styling */
#background {
  position: fixed;
  z-index: -10;
  inset: 0;
  background-image: linear-gradient(to bottom, var(--primary-color), var(--secondary-color));
}

/* Text Design */
h1,
h2,
p,
a {
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.7);
}

/* Scrollbar styling
body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--tertiary-color);
  border-radius: 6px;
} */
