/* This css file is applied to ALL PAGES */
@import url("https://fonts.googleapis.com/css2?family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Variables */
  --primary-color: rgb(233, 213, 174);
  --secondary-color: rgb(190, 147, 97);
  --tertiary-color: rgb(169, 116, 73);
  --darker-tertiary-color: rgb(139, 96, 53);

  --text-color: rgb(255, 253, 242);

  --scrollbar-thumb-color: rgb(199, 170, 137);
  --scrollbar-background-color: hsl(27, 40%, 40%);
}

body {
  height: fit-content;
  min-height: 100vh;
  font-size: 1.25rem;
  font-family: "TikTok Sans", sans-serif;
}

/* Background Styling */
#background {
  position: fixed;
  z-index: -10;
  inset: 0;
  background-image: linear-gradient(to bottom, var(--primary-color), var(--secondary-color));
}

/* Text Design */
h1,
h2,
h3,
p,
a,
li {
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.7);
}

/* Button + Anchor General Styling */
/* button,
a {
  transition: 0.125s;
  &:hover {
    opacity: 0.8;
  }
  &:active {
    opacity: 0.6;
  }
} */

/* Footer */
footer {
  margin-top: 32px;
  border-top: 2px solid var(--darker-tertiary-color);
  background-color: var(--tertiary-color);
  padding: 12px;
  width: 100%;
  color: var(--text-color);
  font-size: 1rem;
  text-align: center;
}

/* Scrollbar Styling */
body::-webkit-scrollbar {
  background-color: var(--scrollbar-background-color);
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: var(--scrollbar-thumb-color);
}

body::-webkit-scrollbar-thumb:hover {
  background-color: var(--darker-tertiary-color);
}
