header {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  z-index: 100;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
  border-bottom-right-radius: 10%;
  border-bottom-left-radius: 10%;
  background-color: var(--tertiary-color);
  padding: 5px 20px;
  color: white;
  text-align: center;
}

nav {
  display: flex;
  align-items: center;
  gap: 12px;
}

nav a {
  transition: background-color 0.3s ease;
  transition: 0.2s;
  border-radius: 4px;
  color: hsl(0, 0%, 80%);

  text-shadow: 0px 0px 0px rgba(0, 0, 0, 1); /* values are all 0 for transition */

  &:hover {
    /* background-color: var(--secondary-color); */
    padding: 2px 1px;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);

    /* Logo anchor */
    &:first-child {
      rotate: -10deg;
      scale: 1.1;
    }
  }

  &.active {
    color: white;
    font-weight: 700;
  }
}
nav .logo {
  height: 64px;
}

#header-right {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-right: 1rem;
}

#menu-search {
  display: grid;
  place-items: center;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
}
#menu-search:hover {
  opacity: 0.8;
}
#menu-search:active {
  opacity: 0.7;
}

#menu-search img {
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.3));

  cursor: pointer;
  height: 24px;

  pointer-events: none;
}

#header-cart {
  /* Cart Icon Design */
  & img.filled {
    display: none;
  }
  & img.not-filled {
    display: block;
  }

  &:hover {
    opacity: 0.8;

    /* Cart Icon Design */
    & img.filled {
      display: block;
    }
    & img.not-filled {
      display: none;
    }
  }
  &:active {
    opacity: 0.7;
  }

  /** Only applies when in the cart page **/
  &.active img.filled {
    display: block;
  }
}
#header-cart img {
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.3));

  cursor: pointer;
  height: 32px;

  pointer-events: none;
}

#header-cart #cart-count:not(:empty) {
  position: absolute;
  top: 16px;
  right: 24px;
  border-radius: 50%;
  background-color: var(--secondary-color);
  padding: 2px 6px;
  pointer-events: none;
  color: white;
  font-weight: bold;
  font-size: 0.75rem;
}

/* Search */
#search-bar {
  display: none;
  position: absolute;
  inset-inline: 5rem;
  text-align: center;
  bottom: -3rem;
  animation: popupFadeIn 0.2s;
  outline: none;
  border: 4px solid var(--darker-tertiary-color);
  border-radius: 32px;
  background-color: var(--secondary-color);
  padding: 4px 12px;
  color: var(--text-color);
  font-weight: bold;
  font-size: 1.5rem;
  text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.6);
}

/* Responsive Design */
@media (max-width: 768px) {
  nav {
    font-size: 1rem;
  }
}

@media (max-width: 425px) {
  nav {
    justify-content: center;
  }
  nav a:not(:first-child) {
    display: none;
  }
  nav .logo {
    height: 48px;
  }

  #header-cart img {
    height: 28px;
  }
}
