header {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: var(--tertiary-color);
  padding: 5px 20px;
  color: white;
  text-align: center;
}

nav {
  display: flex;
  align-items: center;
  gap: 12px;
}

nav a {
  transition: background-color 0.3s ease;
  transition: 0.2s;
  border-radius: 4px;
  color: hsl(0, 0%, 80%);
  text-decoration: none;
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 1);
}

nav a:hover {
  /* background-color: var(--secondary-color); */
  padding: 2px 3px;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);

  /* Logo anchor */
  &:first-child {
    rotate: -10deg;
    scale: 1.1;
    background-color: transparent; /* Prevents logo background on hover */
    padding: 0; /* Prevents logo padding on hover */
  }
}

nav a.active {
  color: white;
  font-weight: 700;
}

nav .logo {
  height: 64px;
}

#header-cart {
  display: flex;
  align-items: center;
  gap: 5px;
}
