header {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  z-index: 100;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
  border-bottom-right-radius: 10%;
  border-bottom-left-radius: 10%;
  background-color: var(--tertiary-color);
  padding: 5px 20px;
  color: white;
  text-align: center;
}

nav {
  display: flex;
  align-items: center;
  gap: 12px;
}

nav a {
  transition: background-color 0.3s ease;
  transition: 0.2s;
  border-radius: 4px;
  color: hsl(0, 0%, 80%);
  text-decoration: none;
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 1);

  &:hover {
    /* background-color: var(--secondary-color); */
    padding: 2px 1px;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);

    /* Logo anchor */
    &:first-child {
      rotate: -10deg;
      scale: 1.1;
      background-color: transparent; /* Prevents logo background on hover */
      padding: 0; /* Prevents logo padding on hover */
    }
  }

  &.active {
    color: white;
    font-weight: 700;
  }
}
nav .logo {
  height: 64px;
}

#header-cart {
  display: flex;
  align-items: center;
  padding-right: 1rem;

  /* Cart Icon Design */
  & img.filled {
    display: none;
  }
  & img.not-filled {
    display: block;
  }

  /** Note: Put To General.css If Repeatable */
  &:hover {
    opacity: 0.95;

    /* Cart Icon Design */
    & img.filled {
      display: block;
    }
    & img.not-filled {
      display: none;
    }
  }
  &:active {
    opacity: 0.7;
  }
}

#header-cart img {
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.3));

  cursor: pointer;
  height: 32px;

  pointer-events: none;
  color: white;
}

#header-cart .cart-count:not(:empty) {
  position: absolute;
  top: 16px;
  right: 24px;
  border-radius: 50%;
  background-color: var(--secondary-color);
  padding: 2px 6px;
  pointer-events: none;
  color: white;
  font-weight: bold;
  font-size: 0.75rem;
}
