section {
  width: 100%;
}

/** HERO SECTION **/

#hero {
  position: relative;
  border-bottom: 10px solid rgba(0, 0, 0, 0.1);
  padding-block: 64px;
  min-height: 500px;
}

#hero img {
  opacity: 0;
  filter: drop-shadow(0 5px 3px rgba(0, 0, 0, 0.5));
  animation: popupFadeIn 1s 0.45s ease-out forwards;
  /* Note: 0.3s animation delay for image to load */

  transition: 0.125s;
  width: 30%;
  &:hover {
    scale: 1.02;
  }
}

#hero img.background {
  position: absolute;
  opacity: 0.4;
  z-index: -1;
  animation: none !important;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#hero img.side-img {
  position: absolute;
  border: 5px solid var(--tertiary-color);
  border-radius: 12px;
  width: 10%;
}

#hero a {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 35%;

  &::after {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    z-index: -1;
    transition: 0.125s;
    border-radius: 6px;
    background-color: var(--secondary-color);
    padding: 3px 16px;
    content: "";
    color: var(--text-color);
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
  }

  &:hover {
    scale: 1.06;
    &::after {
      bottom: -42px;
      opacity: 1;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
      content: "Check Out Our Menu!";
    }
  }
}

#hero img.main {
  border: 8px solid var(--tertiary-color);
  border-radius: 12px;
  width: 100%;
}

/** INTRODUCTION SECTION **/
#introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 16px;
  color: var(--text-color);
  text-align: center;
}

.intro-header {
  margin-block: 24px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
  border-bottom: 5px solid var(--tertiary-color);
  border-radius: 12px;
  background-color: var(--secondary-color);
  padding: 24px 56px;
  padding-block: 0px;

  & h1 {
    font-size: 4rem;
  }
  & p {
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 1.75rem;
  }
}

#introduction h2 {
  margin-bottom: 12px;
  border-bottom: 2px solid var(--tertiary-color);
  border-radius: 6px;
  padding-block: 4px;
  width: 60%;
  font-size: 3rem;
}

.intro-content {
  display: flex;
  /* flex-direction: column; */
  gap: 20px;
  width: 90%;
  max-width: 1200px;
}
.intro-item {
  position: relative;
  flex: 1;
  margin-top: 110px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  border-bottom: 5px solid var(--tertiary-color);
  border-radius: 12px;
  background-color: var(--secondary-color);
  padding: 12px;
  padding-top: 100px;
}
.intro-item img {
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  margin-right: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  border-bottom: 5px solid var(--tertiary-color);
  border-radius: 50%;
  aspect-ratio: 1/1;
  width: 200px;
  object-fit: cover;
}
.intro-item-text {
  text-align: center;
  & h3 {
    font-size: 3rem;
  }
  & p {
    font-size: 1.4rem;
  }
}

/* Why Choose Us Section */
#why-us {
  display: flex;
  justify-content: center;
  margin-block: 24px;
  border-block: 5px solid rgba(0, 0, 0, 0.1);
  background-color: var(--tertiary-color);
  padding: 12px 16px;
  color: var(--text-color);
  text-align: center;
}

#why-us img {
  margin-right: 24px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.why-us-content {
  display: flex;
  flex: 0.8;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1600px;
  & h2 {
    margin-bottom: 12px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    width: 100%;
    font-size: 4rem;
  }
}

.why-us-content ul {
  display: flex;

  padding-inline: 20px;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.2;
  list-style-type: none;
  text-align: center;

  & li {
    flex: 1;
  }
}

/* Contact Section */
#info-and-details {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 100px;
  margin: 64px auto;
  width: 80%;

  color: var(--text-color);
}

.info-text {
  display: flex;
  flex: 1;
  flex-direction: column;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  border-radius: 24px;
  background-color: var(--secondary-color);
  max-width: 800px;
  text-align: center;
  & h2 {
    margin-bottom: 12px;
    border-bottom: 4px solid var(--darker-tertiary-color);
    border-radius: 24px 24px 0 0;
    background-color: var(--tertiary-color);
    padding-block: 4px;
    font-size: 3rem;
  }
  & p {
    margin-bottom: 24px;
    font-size: 1.5rem;
  }
}
.main-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-item h3 {
  font-size: 2rem;
}

.info-images {
  position: relative;
  width: 400px;
}
.info-images img {
  position: absolute;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  border-radius: 10%;
  width: 280px;
  height: 280px;
  object-fit: cover;
}

/* Redirect Section */
#menu-redirect {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  border-block: 7px solid rgba(0, 0, 0, 0.1);
  padding: 128px 16px;
  min-height: 250px;
  overflow: hidden;
  color: var(--text-color);

  & h2 {
    font-size: 4rem;
  }
  & p {
    font-size: 1.5rem;
  }
}

#menu-redirect a {
  transition: 0.15s;
  margin-top: 24px;
  border-bottom: 2px solid var(--darker-tertiary-color);
  border-radius: 8px;
  background-color: var(--secondary-color);
  padding: 12px 24px;
  color: white;
  font-size: 1.5rem;

  &:hover {
    opacity: 0.95;
    box-shadow: 0 2px 5px var(--darker-tertiary-color);
  }

  &:active {
    opacity: 0.85;
    margin-top: 26px;
    margin-bottom: -2px;
  }
}
#menu-redirect .background {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.3;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* Responsive Design */
/* TODO: Fix Tooltip Font size */
/* TODO: Remove Hero Section Images */
/* TODO: Fix h1 Font Size */
/* TODO: Change Flex Direction Of "Our Offerings" */
