section {
  width: 100%;
}

/** HERO SECTION **/

#hero {
  position: relative;
  border-bottom: 10px solid rgba(0, 0, 0, 0.1);
  padding-block: 64px;
  min-height: 500px;
  overflow: hidden;
}

#hero img {
  opacity: 0;
  filter: drop-shadow(0 5px 3px rgba(0, 0, 0, 0.5));
  animation: popupFadeIn 1s 0.3s ease-out forwards;
  /* Note: 0.3s animation delay for image to load */

  transition: 0.125s;
  width: 30%;
  &:hover {
    scale: 1.02;
  }
}

#hero img.background {
  position: absolute;
  opacity: 0.4;
  z-index: -1;
  animation: none !important;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#hero img.side-img {
  position: absolute;
  border: 5px solid var(--tertiary-color);
  border-radius: 12px;
  width: 10%;
}

#hero a {
  display: block;
  margin: 0 auto;
  width: 35%;
  &:hover {
    scale: 1.06;
  }
}
#hero img.main {
  border: 8px solid var(--tertiary-color);
  border-radius: 12px;
  width: 100%;
}

/** INTRODUCTION SECTION **/
#introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 16px;
  color: var(--text-color);
  text-align: center;
}

.intro-header {
  margin-block: 24px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
  border-bottom: 5px solid var(--tertiary-color);
  border-radius: 12px;
  background-color: var(--secondary-color);
  padding: 24px 56px;
  padding-block: 0px;

  & h1 {
    font-size: 4rem;
  }
  & p {
    border-radius: 12px;
    /* background-color: rgba(var(--primary-color), 0.8); */
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 1.75rem;
  }
}

#introduction h2 {
  font-size: 3rem;
}

.intro-content {
  display: flex;
  /* flex-direction: column; */
  gap: 20px;
  width: 90%;
  max-width: 1200px;
}
.intro-item {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  border-bottom: 5px solid var(--tertiary-color);
  border-radius: 12px;
  background-color: var(--secondary-color);
  padding: 12px;
}
.intro-item img {
  margin-right: 16px;
  border-bottom: 5px solid var(--tertiary-color);
  border-radius: 12px;
  aspect-ratio: 1/1;
  width: 500px;
  max-width: 80%;
  object-fit: cover;
}
.intro-item-text {
  text-align: center;
  & h3 {
    /* margin-bottom: 1px; */
    font-size: 3rem;
  }
  & p {
    font-size: 1.4rem;
  }
}
