section {
  width: 100%;
}

/** HERO SECTION **/

#hero {
  position: relative;
  border-bottom: 10px solid rgba(0, 0, 0, 0.1);
  padding-block: 64px;
  min-height: 500px;
  overflow: hidden;
}

#hero img {
  opacity: 0;
  filter: drop-shadow(0 5px 3px rgba(0, 0, 0, 0.5));
  animation: popupFadeIn 1s 0.3s ease-out forwards;

  transition: 0.125s;
  width: 30%;
  &:hover {
    scale: 1.02;
  }
  /* Note: 0.3s animation delay for image to load */
}

#hero img.background {
  position: absolute;
  opacity: 0.4;
  z-index: -1;
  animation: none !important;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#hero img.side-img {
  position: absolute;
  width: 10%;
}

#hero a {
  display: block;
  margin: 0 auto;
  width: 35%;
  &:hover {
    scale: 1.06;
  }
}
#hero img.main {
  width: 100%;
}

/** HERO SECTION **/
