/* Header */
h1 {
  margin-top: 16px;
  margin-inline: 24px;
  box-shadow: 0px 8px 6px rgba(0, 0, 0, 0.1);
  border-bottom: 5px solid var(--tertiary-color);
  border-radius: 12px;
  background-color: var(--secondary-color);
  padding: 10px 0px;
  font-size: 3.5rem;
  text-align: center;
}

hr {
  margin: 24px auto;
  border-bottom: 2px solid var(--tertiary-color);
  border-radius: 12px;
  width: 100%;
}

/* Menu */
#menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 24px;
  margin-inline: auto;
  max-width: 1300px;
}

#menu h2 {
  box-shadow: 0px 8px 6px rgba(0, 0, 0, 0.1);
  border-bottom: 5px solid var(--tertiary-color);
  border-radius: 12px;
  background-color: var(--secondary-color);
  padding: 10px 24px;
  width: 100%;
  max-width: 800px;
  font-size: 3rem;
  text-align: center;
}

#menu h3 {
  margin-bottom: 12px;
  border-bottom: 2px solid var(--tertiary-color);
  border-radius: 6px;
  padding-block: 4px;
  padding: 8px 40px;
  font-size: 3rem;
  text-align: center;
}

.menu-category-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  padding-inline: 48px;
  width: 100%;
  scroll-margin-top: 200px;
  list-style-type: none;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  border-bottom: 5px solid var(--tertiary-color);
  border-radius: 12px;
  background-color: var(--secondary-color);
  padding: 40px 12px;
  max-width: 400px;
}

.menu-item img {
  border-bottom: 5px solid var(--darker-tertiary-color);
  border-radius: 24px;

  background-color: var(--tertiary-color);
  padding-block: 12px;
  padding: 8px;
  width: 300px;
  height: 200px;
  object-fit: cover;
  text-align: center;
}

.item-info-div {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  text-align: center;
}
.item-info-div h4 {
  font-size: 2rem;
  text-align: center;
}
.item-info-div .price {
  font-weight: 700;
}
.item-info-div .desc {
  margin-bottom: 8px;
  font-size: 1.5rem;
  text-wrap: balance;
}
.item-info-div select {
  cursor: pointer;
  margin-top: auto;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: var(--light-color);
  padding-block: 6px;
  color: var(--text-color);
  font-size: 1.2rem;
  text-align: center;

  & + button {
    /* Removes margin between select and button */
    margin-top: 0px;
  }
}
.item-info-div option {
  border: none;
  background-color: var(--tertiary-color);
}
.item-info-div button {
  opacity: 1;
  cursor: pointer;
  margin-top: auto;
  border: none;
  border-radius: 6px;
  background-color: var(--tertiary-color);
  padding: 8px 16px;
  width: 10rem;
  color: var(--text-color);
  font-size: 1.4rem;
  &:hover {
    opacity: 0.9;
  }

  &:active {
    opacity: 0.8;
  }
}

#milk-tea,
#fruit-tea,
#hot-drink,
#ice-coffee {
  & .menu-item {
    width: 260px;
  }
  & .menu-item img {
    width: 250px;
  }
}

/* NOTE: Commit should be about Added Menu Element + Start Design */
